.container {
    margin-top : 24px;
}
.container section{
    width : 478px; height: auto;
    border : 1px solid rgb(237,237,237); border-radius: 12px;
    margin : auto;
}
.container section .menu {
    margin-top : 24px; padding-left : 16px;
}
.container section .menu a {
    display: inline-block;
    padding : 8px 8px 14px 8px;
    letter-spacing: -0.5px;
}
.container section .menu span {
    display: inline-block;
    letter-spacing: -0.5px;
    height : 24px; line-height : 24px;
    font-size : 16px; font-weight: 700; color : rgb(249,31,21);
}
.container section .menu .find_by_password span {
    border-bottom : 2px solid rgb(249,31,21);
}
.container section .menu .find_by_id span {
    color : #a6a6a6
}
.container .form-menu{
    padding : 24px; height : 88px;
}
.container .form-menu form{
    display: block;
}
.container .form-menu form input {
    display: block;
    width : 100%; height : 40px;
    padding : 8px; border : 1px solid rgb(237,237,237);
    border-radius: 12px; box-sizing: border-box;
    font-size : 16px; font-weight: 400;
    letter-spacing: -0.5px;
}
.container .form-menu form .subscribed_id{
    background-color : #f9f9f9;
    caret-color: rgb(249,31,21);
}

.container .form-menu form .send {
    margin-top : 8px; padding : 0px; 
    background-color : rgb(249,31,21);
    border : none; text-align: center;
    font-weight: 600; color : white;
    line-height: 40px; font-size : 16px;
}
.container .dsc {
    margin-top : 24px;
}
.container .dsc p{
    margin-bottom : 4px;
    font-size : 12px; font-weight: normal; 
    color : rgb(115, 115, 115); letter-spacing: -0.5px;
    height : 18px; line-height: 18px;
}