header {
    padding : 0px 50px;
    text-align: center;
    height : 92px;
}

header h1 {
    position: absolute; left : 50px; top : 0;
    padding-top : 24px; padding-bottom : 24px;
}

header h1 a {
    display: block; width : 110px; height : 44px; color : transparent;
    background : url(images/logo.png);
}   

header .lnb ul li {
    display : inline-block;
}

header .lnb ul li a {
    display: block; padding : 12px 20px;
    width : 99px; height : 68px; line-height : 68px; 
    font-size : 18px; color : #282828;
}

header .lnb ul li a:hover{
    color : #0077c0;
}

header .spot {
    position: absolute; right : 50px; top : 0;
}

header .spot li {
    float : left; position : relative;
}

header .spot li:after {
    content : ""; position: absolute; left : 0px; top : 50%; 
    width : 1px; height: 7px; background-color: #ccc;
    transform:  translate(0,-50%);
}
header .spot li:first-child:after {
    display: none;
}

header .spot li a {
    display: block; height : 92px; padding : 0px 10px; line-height: 92px;
}

header .spot li:last-child a {
    padding-right : 0px;
}


.visual {
    width : 100%;
    position: relative;
}

.visual .con {
    width : 1824px; height : 594px;
    margin : 0 auto; position : relative;
}
.visual .con .slide {
    position : relative;
    text-align: center; margin : 0 auto;
    width : 1824px; height : 594px;
}


.visual .con .slide1 {
    background : url("./images/visual_img1.jpg") no-repeat center;
}
.visual .con .slide2 {
    background : url("./images/visual_img2.jpg") no-repeat center;
}

.visual .con .slide3 {
    background : url("./images/visual_img3.jpg") no-repeat center;
}
.visual .con .slide4 {
    background : url("./images/visual_img4.jpg") no-repeat center;
}

.visual .con .slide div{
    position : absolute; left : 50%; top : 50%; 
    transform: translate(-50%, -50%);
    text-align: center; 
}

.visual .con .slide div h3 {
    color : white; font-size : 45px;
    font-weight: 400; 
}
.visual .con .slide div p {
    color : white; font-size : 18px;
    font-weight: 400; margin-top : 5px;
    margin-bottom : 138px; 
}
.visual .con .slide div a {
    display : inline-block; color : white;
    font-weight: 400; font-size : 16px;
    width : 170px; height : 44px;
    border : 1px solid white;
    line-height : 44px; text-align: center;
}

.visual .slick-arrow {
    position : absolute; z-index : 20; 
    top : 50%; transform: translateY(-50%);
    background: url("./images/sp_com.png")no-repeat;
    font-size : 0px; width : 16px; height : 32px;
    cursor : pointer;
}

.visual .slick-prev {
     background-position: -717px -89px; left : 20px;
}

.visual .slick-next {
    right : 20px; background-position: -687px -89px; 
}

.visual .slick-dots {
    position: absolute; bottom : 40px; left : 50%;
    transform: translateX(-50%);
}
.visual .slick-dots li {
    display: inline-block; cursor: pointer;
    margin-left : 2px; margin-right : 2px;
}

.visual .slick-dots li button{
    font-size : 0px; 
    width : 44px; height :2px;
    background-color : rgba(255, 255,255, 0.5)
}

.visual .slick-dots li.slick-active button {
    background-color : white;
}

.product_category {
    padding-top : 50px; padding-bottom : 38px;
}

.product_category ul {
    text-align: center;
    font-size: 0px;
}
.product_category ul li {
    display: inline-block;
    height : 100%; cursor :pointer;
}
.product_category ul li a {
    display: block; width : 46px; height : 45px;
    padding-right : 62PX; padding-left :62px;
}
.product_category ul li a#product1 {
    background : url("./images/icon_product_category01.png") no-repeat center;
} 
.product_category ul li a#product2 {
    background : url("./images/icon_product_category02.png") no-repeat center;
} 
.product_category ul li a#product3 {
    background : url("./images/icon_product_category03.png") no-repeat center;
} 

.product_category ul li p{
    font-size : 16px; margin-top : 23px; 
    color : #232323;
}

.product_category ul li:hover p {
    color : #0077c0; font-weight: bold;
}

.product_category ul li:hover a#product1{
    background : url(./images/icon_product_category01_other_color.png) no-repeat center;
}