body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    padding-top : 32px; padding-bottom : 24px;
}

header .main_logo{ 
    display: block; width : 48px; height : 48px; margin : 0 auto; 
    color : transparent; background: url("../images/logo.png") no-repeat center;
}

.main_login_form h1 {
    color : rgb(31,35, 40); font-size : 24px; box-sizing: border-box;
    font-weight: 300; line-height: 36px; text-align: center;
    color-scheme: light; overflow-wrap: break-word; 
    letter-spacing: -0.5px; cursor : text;
}

.main_login_form .auth-form-body {
    margin : 0 auto;
    margin-top : 16px; border : 1px solid rgb(216,222, 228);
    padding : 16px; background-color : rgb(246,248,250);
    width : 254px; height : auto; border-radius: 6px; 
}


.main_login_form .auth-form-body form label {
    margin-bottom : 4px; box-sizing: border-box;
    color : rgb(31,35,40); display: block;
    font-size : 14px; font-weight: 400; color-scheme: light;
    line-height: 21px;
}   

.main_login_form .auth-form-body form .input_read{
    width : 228px; height : 20px; padding : 5px 12px;
    margin-top : 4px; margin-bottom : 16px; 
    background-color : white; background-repeat: no-repeat;
    border-radius: 6px; border : 1px solid rgb(208, 215, 222);
    font-size : 14px; color : rgb(31,35,40); font-weight: 400;
}

.main_login_form .auth-form-body form .input_read:focus {
    border: 2px solid  rgb(49,127,219);
}

.main_login_form .position-relative {

}

.main_login_form .auth-form-body form .input2 {
    margin-bottom : 0px;
}

.main_login_form .position-relative div{
    display : flex; justify-content: space-between;
    align-items: center; margin-bottom : 4px;
}

.main_login_form .position-relative div a {
     color-scheme: light; font-size : 12px;
     overflow-wrap: break-word; color : rgb(9,105,218);
}

.main_login_form .send {
    display: block; width : 100%; height : 32px; text-align: center;
    padding : 5px 16px; background-color: rgb(31,136, 61);
    font-size : 14px; font-weight: 500; border-radius: 6px;;
    border : 1px solid rgba(31, 35, 40, 0.15); color : rgb(255, 255, 255);
}

.main_login_form .send:hover {
    cursor :pointer; transition-duration : 0.08s;
    background-color: rgb(24,125, 53);
}

.main_login_form .login-callout{
    margin : 0 auto; width : 254px; padding : 16px;
    text-align: center; margin-top: 16px;
    border : 1px solid rgb(208, 215, 222);
    border-radius: 6px;
}

.main_login_form .login-callout .Button-label {
    display: block; height : 21px; line-height: 21px;
    box-sizing: border-box; color : rgb(9, 105, 218);
    color-scheme: light; font-size : 14px; font-weight: 500;
    font-family: "Apple Color Emoji", "Segoe UI Emoji";
}

.main_login_form .login-callout .Button-label:hover ,
.main_login_form .login-callout p span a:hover {
    text-decoration-line: underline;
}

.main_login_form .login-callout p{
    margin-top : 4px; box-sizing: border-box;
    color : rgb(31, 35, 40); font-size: 14px; color-scheme : light;
    height : 21px; line-height: 21px; 
}

.main_login_form .login-callout p span a{
    box-sizing: border-box; color-scheme : light;
    color : rgb(9, 105, 218); 
}

footer {
    margin-top : 40px; padding : 40px;
}
footer  ul {
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
    text-align: center;
}
footer ul li {
   display: inline-block; text-align: center;
   font-size : 12px; margin-left : 8px; margin-right : 8px;
}
footer ul li a{
    text-align: center; display: block;
    color : rgb(101, 109, 118);  font-size : 12px;
    height : 18px; line-height: 18px;;
}
footer ul li a:hover {
    text-decoration-line: underline;
    color : rgb(9, 105, 218); 
}